html {
  line-height: 1.5;
  font-family: Lato;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #eee9de;
}

h2 {
  font-family: lato, bold;
}

img {
  display: block;
  width: 100%;
}

div {
  max-width: 25em;
  display: inline-block;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}

section {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.btn {
  display: inline-block;
  background-color: #eee9de;
  border-radius: 8px;
  border-color: #333;
  border: solid;
  color: #333;
  text-decoration: none;
  padding: .4em .75em .5em;
}

.btn:hover {
  background-color: #666;
  color: #fff;
  padding-top: 2em;
}
